@keyframes hover {
    0% {
        transform: translateY(-5px);
    }
    50% {
        transform: translateY(5px);
    }
    100% {
        transform: translateY(-5px);
    }
}

* {
    font-family: "Roboto", sans-serif;
}

body {
    background-color: lightblue;
}

form, .showInput, h1 {
    width: 50%;
    margin: 40px auto;
    display: block;
}

h1 {
    
}

label {
    transition: all 1s ease-out;
}

label:hover {
    transform: translateX(10px);
}