@page "/success"

<PageTitle>Success</PageTitle>

<h1 class="text-center">Success!1!11!!1!!!1!</h1>
<div class="d-grid gap-2 col-6 mx-auto">
    <a class="btn btn-primary fw-bold" href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" target="_blank">Watch a secret video here</a>
</div>
